# the following patterns will be ignored for revision control purposes

# temporary backups
*~
*.orig
*.bak
*.bak1
*.new
*.tmp
*KEEP
*.old
\#*#
*.default
*.lock
*.backup
temp/
tmp/

# desktop crap
.DS_Store
Desktop.ini
Desktop/
Documents/
Downloads/
Music/
Pictures/
Recordings/
Ubuntu One/
.dmrc
.gtk-bookmarks
.macromedia/
.pulse-cookie
.esd_auth
.ICEauthority
.Xauthority
.Xdefaults
.fontconfig/
.dbus
.xsession-errors
.xinputrc

# caches
thumbs.db
*.swp
VirtualBox VMs/
.cache/
.berkshelf/
.bundle/
.novaclient/
.VirtualBox/
.virtualenvs/
.java/
.steam/
.cpan/
.liferea/
.liferea_1.8/
.rnd
.pylint.d/
.tomboy-sync/
.terraform.d/

# junk
.subversion/README.txt
.links2/bookmarks.html

# logs
*.log
*_log
irclogs/

# histories
.bash_history
.gnuplot_history
.ldapvi_history
.lesshst
.lvm_history
.mysql_history
.psql_history
.pry_history
.sqlite_history
.wget-hsts
.viminfo
.vim/

# myrepos managed
src/
.oh-my-git/
.fonts/

# images
*.png
*.gif
*.jpg

# databases
*.csv
*.sqlite
*.db
data/

# binaries
*.so
*.bin
*.obj
*.exe
*.zip
*.pdf
*.dmg
*.ttf
.AMD/
.gem/
.jars/
.rpmdb/

# private data
*.key
*.pem
*.csr
*.cert
*.crt
.aws/
.ssh/
.mrtrust
.subversion/auth/
.gnupg
.gnucash/
.aqbanking/
.pki/
.keychain/
.openvpn/
.bash.d/private/
.gitconfig.d/private.conf
.climesyncrc
.gcloud/

# i dont want to sort through this yet
misc/
.adobe/
.android/
.atom/
.cfagent/
.compiz/
.compiz-old/
.compiz-1/
.eclipse/
.local/
.gconf/
.config/
.chef/
.chefdk/
.subversion/auth/
.gnome/
.gnome2/
.hplip
.opera/
.pulse/
.mozilla/
.nv/
.purple/
.remmina/
.vagrant.d/
.steampath
.steampid
.sad/
.q3a/
.spamassassin/
.vscode/extensions/
