# the following patterns will be ignored for revision control purpose

# temporary backups
*~
*.orig
*.bak
*.bak1
*.new
*.tmp
*KEEP
*.old
\#*#
*.default
*.lock
*.backup
temp/
tmp/
.Trash/

# desktop crap
.DS_Store
Desktop.ini
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Recordings/
Ubuntu One/
iCloud Drive/
iCloud Drive (Archive)/
iCloud Drive (Archive) - 1/
.cups/
.dmrc
.gtk-bookmarks
.macromedia/
.pulse-cookie
.esd_auth
.ICEauthority
.Xauthority
.Xdefaults
.fontconfig/
.dbus
.xsession-errors
.xinputrc

# caches
thumbs.db
*.swp
Box/
VirtualBox VMs/
.cache/
.novaclient/
.VirtualBox/
.steam/
.liferea/
.liferea_1.8/
.rnd
.tomboy-sync/
.terraform.d/
.kitchen/cache/
.kube/cache/
.kube/http-cache/
.ansible/

# junk
.subversion/README.txt
.links2/bookmarks.html

# logs
*.log
*_log
irclogs/

# devel / IDE junk
.atom/
.gitbook/
.ipython/
.m2/repository/
.pylint.d/
.vscode/extensions/
.Genymobile/

# language cache junk
.asdf/
.berkshelf/
.bundle/
.cpan/
.gradle/
.java/
.node-gyp/
.npm/
.matplotlib/
.pyenv/
.mono/
.rbenv/
.tooling/
venv/
.virtualenvs/
.yarnrc
__pycache__/
go/

# histories
.bash_history
.bash_sessions/
.gnuplot_history
.ldapvi_history
.lesshst
.lvm_history
.mysql_history
.node_repl_history
.psql_history
.pry_history
.python_history
.sqlite_history
.rediscli_history
.wget-hsts
.viminfo
.vim/
.xournal/recent-files
.zsh_history

# myrepos managed
src/
.oh-my-git/
.fonts/

# images
*.png
*.gif
*.jpg

# databases
*.csv
*.sqlite
*.db
data/

# ebooks
*.epub
*.opf

# binaries
*.so
*.bin
*.obj
*.exe
*.zip
*.pdf
*.dmg
*.ttf
.AMD/
.gem/
.jars/
.rpmdb/

# private data
*.key
*.pem
*.csr
*.cert
*.crt
.aws/
.ssh/
.secrets/
.mrtrust
.netrc
.secretsrc
.subversion/auth/
.gnupg
.gnucash/
.aqbanking/
.pki/
.keychain/
.openvpn/
.bash.d/private/
.gitconfig.d/private.conf
.climesyncrc
.gcloud/
.gsutil/
.boto
.weechat/irc.conf
bin/private
.sieve/

# i dont want to sort through this yet
bin/terraform
misc/
snap/
.oracle_jre_usage/
.adobe/
.android/
.cfagent/
.compiz/
.compiz-old/
.compiz-1/
.eclipse/
.edgerc
.local/
.gconf/
.config/
.chef/
.chefdk/
.subversion/auth/
.gimp-2.8/
.gnome/
.gnome2/
.hplip
.opera/
.paradoxlauncher/
.pulse/
.mozilla/
.nv/
.purple/
.remmina/
.vagrant.d/
.steampath
.steampid
.sad/
.thunderbird/
.spamassassin/
.kube/

# games
.q3a/
.systemshock2/
.This War of Mine/
.WorldOfGoo/
FiraxisLive/
IntoTheBreach
