<?xml version="1.0" encoding="UTF-8"?>
<gobby_config>
  <appearance>
    <toolbar>
      <show>2</show>
    </toolbar>
    <windows>
      <remember>1</remember>
      <urgency_hint>1</urgency_hint>
    </windows>
  </appearance>
  <behaviour>
    <auto_open_new_documents>0</auto_open_new_documents>
  </behaviour>
  <color-palette>#f9dad4:#fddfbe:#fdf3be:#f5fdbe:#dcfdbe:#befde2:#bee9fd:#becffd:#c7befd:#f2befd:#fdbedd:#f6abab:#fbc759:#fcffba:#f4ffee:#bce9b8:#eefdff:#e8ebff:#fdeeff:#dfdfdf</color-palette>
  <editor>
    <homeend>
      <smart>1</smart>
    </homeend>
    <indentation>
      <auto>1</auto>
    </indentation>
    <tab>
      <spaces>0</spaces>
      <width>8</width>
    </tab>
  </editor>
  <files>
    <file1>
      <mime_type>application/xml</mime_type>
      <pattern>*.abw</pattern>
    </file1>
    <file10>
      <mime_type>text/x-c</mime_type>
      <pattern>*.c</pattern>
    </file10>
    <file100>
      <mime_type>text/x-pascal</mime_type>
      <pattern>*.pas</pattern>
    </file100>
    <file101>
      <mime_type>text/x-diff</mime_type>
      <pattern>*.patch</pattern>
    </file101>
    <file102>
      <mime_type>text/x-pkg-config</mime_type>
      <pattern>*.pc</pattern>
    </file102>
    <file103>
      <mime_type>text/x-perl</mime_type>
      <pattern>*.perl</pattern>
    </file103>
    <file104>
      <mime_type>text/x-php</mime_type>
      <pattern>*.php</pattern>
    </file104>
    <file105>
      <mime_type>text/x-php</mime_type>
      <pattern>*.php3</pattern>
    </file105>
    <file106>
      <mime_type>text/x-php</mime_type>
      <pattern>*.php4</pattern>
    </file106>
    <file107>
      <mime_type>text/x-php</mime_type>
      <pattern>*.phtml</pattern>
    </file107>
    <file108>
      <mime_type>text/x-perl</mime_type>
      <pattern>*.pl</pattern>
    </file108>
    <file109>
      <mime_type>text/x-perl</mime_type>
      <pattern>*.pm</pattern>
    </file109>
    <file11>
      <mime_type>text/x-c++</mime_type>
      <pattern>*.c++</pattern>
    </file11>
    <file110>
      <mime_type>text/x-po</mime_type>
      <pattern>*.po</pattern>
    </file110>
    <file111>
      <mime_type>text/x-po</mime_type>
      <pattern>*.pot</pattern>
    </file111>
    <file112>
      <mime_type>text/x-prolog</mime_type>
      <pattern>*.prolog</pattern>
    </file112>
    <file113>
      <mime_type>text/x-python</mime_type>
      <pattern>*.py</pattern>
    </file113>
    <file114>
      <mime_type>text/x-R</mime_type>
      <pattern>*.r</pattern>
    </file114>
    <file115>
      <mime_type>application/x-ruby</mime_type>
      <pattern>*.rb</pattern>
    </file115>
    <file116>
      <mime_type>application/xml</mime_type>
      <pattern>*.rdf</pattern>
    </file116>
    <file117>
      <mime_type>text/x-R</mime_type>
      <pattern>*.Rhistory</pattern>
    </file117>
    <file118>
      <mime_type>text/x-R</mime_type>
      <pattern>*.Rout.fail</pattern>
    </file118>
    <file119>
      <mime_type>text/x-R</mime_type>
      <pattern>*.Rout.save</pattern>
    </file119>
    <file12>
      <mime_type>text/x-c++</mime_type>
      <pattern>*.C</pattern>
    </file12>
    <file120>
      <mime_type>text/x-R</mime_type>
      <pattern>*.R,*.Rout</pattern>
    </file120>
    <file121>
      <mime_type>application/xml</mime_type>
      <pattern>*.rss</pattern>
    </file121>
    <file122>
      <mime_type>text/x-R</mime_type>
      <pattern>*.Rt</pattern>
    </file122>
    <file123>
      <mime_type>text/x-scheme</mime_type>
      <pattern>*.scm</pattern>
    </file123>
    <file124>
      <mime_type>text/x-shellscript</mime_type>
      <pattern>*.sh</pattern>
    </file124>
    <file125>
      <mime_type>application/xml</mime_type>
      <pattern>*.siv</pattern>
    </file125>
    <file126>
      <mime_type>application/xml</mime_type>
      <pattern>*.smi</pattern>
    </file126>
    <file127>
      <mime_type>application/xml</mime_type>
      <pattern>*.smil</pattern>
    </file127>
    <file128>
      <mime_type>application/xml</mime_type>
      <pattern>*.sml</pattern>
    </file128>
    <file129>
      <mime_type>text/x-rpm-spec</mime_type>
      <pattern>*.spec</pattern>
    </file129>
    <file13>
      <mime_type>text/x-c++</mime_type>
      <pattern>*.cc</pattern>
    </file13>
    <file130>
      <mime_type>text/x-sql</mime_type>
      <pattern>*.sql</pattern>
    </file130>
    <file131>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.sty</pattern>
    </file131>
    <file132>
      <mime_type>application/xml</mime_type>
      <pattern>*.svg</pattern>
    </file132>
    <file133>
      <pattern>*.sys</pattern>
    </file133>
    <file134>
      <pattern>*.t2t</pattern>
    </file134>
    <file135>
      <mime_type>text/x-tcl</mime_type>
      <pattern>*.tcl</pattern>
    </file135>
    <file136>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.tex</pattern>
    </file136>
    <file137>
      <mime_type>text/x-texinfo</mime_type>
      <pattern>*.texi</pattern>
    </file137>
    <file138>
      <mime_type>text/x-texinfo</mime_type>
      <pattern>*.texinfo</pattern>
    </file138>
    <file139>
      <mime_type>text/x-tcl</mime_type>
      <pattern>*.tk</pattern>
    </file139>
    <file14>
      <mime_type>text/x-changelog</mime_type>
      <pattern>ChangeLog*</pattern>
    </file14>
    <file140>
      <mime_type>text/x-verilog-src</mime_type>
      <pattern>*.v</pattern>
    </file140>
    <file141>
      <mime_type>text/x-vala</mime_type>
      <pattern>*.vala</pattern>
    </file141>
    <file142>
      <mime_type>text/x-vbnet</mime_type>
      <pattern>*.vb</pattern>
    </file142>
    <file143>
      <mime_type>text/x-vhdl</mime_type>
      <pattern>*.vhd</pattern>
    </file143>
    <file144>
      <mime_type>application/xml</mime_type>
      <pattern>*.wml</pattern>
    </file144>
    <file145>
      <mime_type>application/xml</mime_type>
      <pattern>*.xbel</pattern>
    </file145>
    <file146>
      <mime_type>application/xml</mime_type>
      <pattern>*.xhtml</pattern>
    </file146>
    <file147>
      <mime_type>application/xml</mime_type>
      <pattern>*.xmi</pattern>
    </file147>
    <file148>
      <mime_type>application/xml</mime_type>
      <pattern>*.xml</pattern>
    </file148>
    <file149>
      <mime_type>application/xml</mime_type>
      <pattern>*.xsl</pattern>
    </file149>
    <file15>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.cls</pattern>
    </file15>
    <file150>
      <mime_type>application/xml</mime_type>
      <pattern>*.xslfo</pattern>
    </file150>
    <file151>
      <mime_type>application/xml</mime_type>
      <pattern>*.xslt</pattern>
    </file151>
    <file152>
      <mime_type>application/xml</mime_type>
      <pattern>*.xspf</pattern>
    </file152>
    <file153>
      <mime_type>application/xml</mime_type>
      <pattern>*.xul</pattern>
    </file153>
    <file154>
      <mime_type>text/x-yacc</mime_type>
      <pattern>*.y</pattern>
    </file154>
    <file155>
      <mime_type>text/x-yacc</mime_type>
      <pattern>*.yacc</pattern>
    </file155>
    <file156>
      <mime_type>application/xml</mime_type>
      <pattern>*.zabw</pattern>
    </file156>
    <file16>
      <pattern>*.cmake</pattern>
    </file16>
    <file17>
      <pattern>*.cmake.in</pattern>
    </file17>
    <file18>
      <pattern>CMakeLists.txt</pattern>
    </file18>
    <file19>
      <pattern>*.cmd</pattern>
    </file19>
    <file2>
      <mime_type>text/x-ada</mime_type>
      <pattern>*.adb</pattern>
    </file2>
    <file20>
      <mime_type>application/x-m4</mime_type>
      <pattern>configure.ac</pattern>
    </file20>
    <file21>
      <mime_type>application/x-m4</mime_type>
      <pattern>configure.in</pattern>
    </file21>
    <file22>
      <mime_type>text/x-c++</mime_type>
      <pattern>*.cpp</pattern>
    </file22>
    <file23>
      <mime_type>text/x-csharpsrc</mime_type>
      <pattern>*.cs</pattern>
    </file23>
    <file24>
      <mime_type>text/css</mime_type>
      <pattern>*.css</pattern>
    </file24>
    <file25>
      <mime_type>text/css</mime_type>
      <pattern>*.CSSL</pattern>
    </file25>
    <file26>
      <pattern>*.ctest</pattern>
    </file26>
    <file27>
      <pattern>*.ctest.in</pattern>
    </file27>
    <file28>
      <pattern>*.cu</pattern>
    </file28>
    <file29>
      <pattern>*.cuh</pattern>
    </file29>
    <file3>
      <mime_type>text/x-ada</mime_type>
      <pattern>*.ads</pattern>
    </file3>
    <file30>
      <mime_type>text/x-c++</mime_type>
      <pattern>*.cxx</pattern>
    </file30>
    <file31>
      <mime_type>text/x-dsrc</mime_type>
      <pattern>*.d</pattern>
    </file31>
    <file32>
      <mime_type>application/x-gnome-app-info</mime_type>
      <pattern>*.desktop</pattern>
    </file32>
    <file33>
      <mime_type>text/x-diff</mime_type>
      <pattern>*.diff</pattern>
    </file33>
    <file34>
      <mime_type>application/docbook+xml</mime_type>
      <pattern>*.docbook</pattern>
    </file34>
    <file35>
      <mime_type>text/vnd.graphviz</mime_type>
      <pattern>*.dot</pattern>
    </file35>
    <file36>
      <mime_type>text/x-dpatch</mime_type>
      <pattern>*.dpatch</pattern>
    </file36>
    <file37>
      <mime_type>text/x-dtd</mime_type>
      <pattern>*.dtd</pattern>
    </file37>
    <file38>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.dtx</pattern>
    </file38>
    <file39>
      <mime_type>text/x-eiffel</mime_type>
      <pattern>*.e</pattern>
    </file39>
    <file4>
      <mime_type>text/x-perl</mime_type>
      <pattern>*.al</pattern>
    </file4>
    <file40>
      <mime_type>text/x-eiffel</mime_type>
      <pattern>*.eif</pattern>
    </file40>
    <file41>
      <mime_type>text/x-erlang</mime_type>
      <pattern>*.erl</pattern>
    </file41>
    <file42>
      <mime_type>text/x-fortran</mime_type>
      <pattern>*.f</pattern>
    </file42>
    <file43>
      <mime_type>text/x-fortran</mime_type>
      <pattern>*.f9[05]</pattern>
    </file43>
    <file44>
      <mime_type>application/xml</mime_type>
      <pattern>*.fo</pattern>
    </file44>
    <file45>
      <mime_type>text/x-fortran</mime_type>
      <pattern>*.for</pattern>
    </file45>
    <file46>
      <mime_type>text/x-forth</mime_type>
      <pattern>*.frt</pattern>
    </file46>
    <file47>
      <mime_type>text/x-forth</mime_type>
      <pattern>*.fs</pattern>
    </file47>
    <file48>
      <mime_type>text/x-gap</mime_type>
      <pattern>*.g</pattern>
    </file48>
    <file49>
      <mime_type>text/x-gap</mime_type>
      <pattern>*.gap</pattern>
    </file49>
    <file5>
      <mime_type>text/x-asp</mime_type>
      <pattern>*.asp</pattern>
    </file5>
    <file50>
      <mime_type>text/x-gap</mime_type>
      <pattern>*.gd</pattern>
    </file50>
    <file51>
      <mime_type>text/x-gap</mime_type>
      <pattern>*.gi</pattern>
    </file51>
    <file52>
      <mime_type>application/xml</mime_type>
      <pattern>*.glade</pattern>
    </file52>
    <file53>
      <pattern>*.glslf</pattern>
    </file53>
    <file54>
      <pattern>*.glslv</pattern>
    </file54>
    <file55>
      <mime_type>text/x-makefile</mime_type>
      <pattern>GNUmakefile</pattern>
    </file55>
    <file56>
      <mime_type>text/x-gtkrc</mime_type>
      <pattern>gtkrc</pattern>
    </file56>
    <file57>
      <mime_type>text/x-gtkrc</mime_type>
      <pattern>.gtkrc</pattern>
    </file57>
    <file58>
      <mime_type>text/x-gtkrc</mime_type>
      <pattern>.gtkrc-*</pattern>
    </file58>
    <file59>
      <mime_type>text/x-gtkrc</mime_type>
      <pattern>gtkrc-*</pattern>
    </file59>
    <file6>
      <mime_type>application/x-awk</mime_type>
      <pattern>*.awk</pattern>
    </file6>
    <file60>
      <mime_type>text/vnd.graphviz</mime_type>
      <pattern>*.gv</pattern>
    </file60>
    <file61>
      <mime_type>text/x-chdr</mime_type>
      <pattern>*.h</pattern>
    </file61>
    <file62>
      <mime_type>text/x-chdr</mime_type>
      <pattern>*.h++</pattern>
    </file62>
    <file63>
      <mime_type>text/x-chdr</mime_type>
      <pattern>*.hh</pattern>
    </file63>
    <file64>
      <mime_type>text/x-chdr</mime_type>
      <pattern>*.hp</pattern>
    </file64>
    <file65>
      <mime_type>text/x-chdr</mime_type>
      <pattern>*.hpp</pattern>
    </file65>
    <file66>
      <mime_type>text/x-haskell</mime_type>
      <pattern>*.hs</pattern>
    </file66>
    <file67>
      <mime_type>text/html</mime_type>
      <pattern>*.htm</pattern>
    </file67>
    <file68>
      <mime_type>text/html</mime_type>
      <pattern>*.html</pattern>
    </file68>
    <file69>
      <mime_type>text/x-idl</mime_type>
      <pattern>*.idl</pattern>
    </file69>
    <file7>
      <pattern>*.bat</pattern>
    </file7>
    <file70>
      <mime_type>text/x-ini-file</mime_type>
      <pattern>*.ini</pattern>
    </file70>
    <file71>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.ins</pattern>
    </file71>
    <file72>
      <mime_type>text/x-java</mime_type>
      <pattern>*.java</pattern>
    </file72>
    <file73>
      <mime_type>application/xml</mime_type>
      <pattern>*.jnlp</pattern>
    </file73>
    <file74>
      <mime_type>application/javascript</mime_type>
      <pattern>*.js</pattern>
    </file74>
    <file75>
      <mime_type>application/x-gnome-app-info</mime_type>
      <pattern>*.kdelnk</pattern>
    </file75>
    <file76>
      <mime_type>application/xml</mime_type>
      <pattern>*.kino</pattern>
    </file76>
    <file77>
      <mime_type>text/x-libtool</mime_type>
      <pattern>*.la</pattern>
    </file77>
    <file78>
      <mime_type>text/x-libtool</mime_type>
      <pattern>*.lai</pattern>
    </file78>
    <file79>
      <mime_type>text/x-literate-haskell</mime_type>
      <pattern>*.lhs</pattern>
    </file79>
    <file8>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.bbl</pattern>
    </file8>
    <file80>
      <mime_type>text/x-libtool</mime_type>
      <pattern>*.lo</pattern>
    </file80>
    <file81>
      <mime_type>text/x-tex</mime_type>
      <pattern>*.ltx</pattern>
    </file81>
    <file82>
      <mime_type>text/x-lua</mime_type>
      <pattern>*.lua</pattern>
    </file82>
    <file83>
      <mime_type>text/x-octave</mime_type>
      <pattern>*.m</pattern>
    </file83>
    <file84>
      <mime_type>application/x-m4</mime_type>
      <pattern>*.m4</pattern>
    </file84>
    <file85>
      <mime_type>text/x-makefile</mime_type>
      <pattern>*.make</pattern>
    </file85>
    <file86>
      <mime_type>text/x-makefile</mime_type>
      <pattern>*.mk</pattern>
    </file86>
    <file87>
      <mime_type>text/x-ocaml</mime_type>
      <pattern>*.ml</pattern>
    </file87>
    <file88>
      <mime_type>text/x-ocaml</mime_type>
      <pattern>*.mli</pattern>
    </file88>
    <file89>
      <mime_type>text/x-ocaml</mime_type>
      <pattern>*.mll</pattern>
    </file89>
    <file9>
      <mime_type>text/x-boo</mime_type>
      <pattern>*.boo</pattern>
    </file9>
    <file90>
      <mime_type>text/x-ocaml</mime_type>
      <pattern>*.mly</pattern>
    </file90>
    <file91>
      <mime_type>text/x-makefile</mime_type>
      <pattern>[Mm]akefile</pattern>
    </file91>
    <file92>
      <mime_type>text/x-makefile</mime_type>
      <pattern>[Mm]akefile.*</pattern>
    </file92>
    <file93>
      <mime_type>application/xml</mime_type>
      <pattern>*.mml</pattern>
    </file93>
    <file94>
      <mime_type>text/x-nemerle</mime_type>
      <pattern>*.n</pattern>
    </file94>
    <file95>
      <pattern>*.nsh</pattern>
    </file95>
    <file96>
      <pattern>*.nsi</pattern>
    </file96>
    <file97>
      <mime_type>text/x-ocl</mime_type>
      <pattern>*.ocl</pattern>
    </file97>
    <file98>
      <mime_type>text/x-pascal</mime_type>
      <pattern>*.p</pattern>
    </file98>
    <file99>
      <pattern>*.page</pattern>
    </file99>
  </files>
  <font>
    <desc>Monospace 10</desc>
  </font>
  <screen>
    <height>1024</height>
    <width>1280</width>
  </screen>
  <session>
    <color>ccccff</color>
    <join_host>gobby.ubuntu.com</join_host>
    <join_port>6522</join_port>
    <name>pwnguin</name>
  </session>
  <view>
    <bracket>
      <highlight>1</highlight>
    </bracket>
    <curline>
      <highlight>1</highlight>
    </curline>
    <linenum>
      <display>1</display>
    </linenum>
    <margin>
      <display>1</display>
      <pos>80</pos>
    </margin>
    <wrap>
      <text>1</text>
      <words>1</words>
    </wrap>
  </view>
  <windows>
    <chat>
      <visible>0</visible>
    </chat>
    <documentlist>
      <height>800</height>
      <visible>0</visible>
      <width>542</width>
      <x>223</x>
      <y>88</y>
    </documentlist>
    <main>
      <height>975</height>
      <width>1280</width>
      <x>0</x>
      <y>0</y>
    </main>
    <userlist>
      <height>400</height>
      <visible>0</visible>
      <width>200</width>
      <x>0</x>
      <y>0</y>
    </userlist>
  </windows>
</gobby_config>
